.iframe-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Cover the badge */
.iframe-container::after {
  content: "";
  position: absolute;
  bottom: 30px;
  right:  55px;
  width: 164px; /* Adjust based on badge size */
  height: 30px; /* Adjust to match the badge height */
  background-color: #000000;
  z-index: 100;
}

/* Custom styles for RevealJS presentation */
.callout-warning.callout {
  background-color: #eada4c6b !important;
  border: none !important;
  position: absolute !important;
  bottom: -60px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: auto !important;
  min-width: 300px !important;
}

.callout-warning.callout p {
  color: black !important;  /* Make text black for better contrast on yellow */
  margin: 10px !important;
}

